body {
  background: #f2f2f2;
  font-size: 14px;
}

.root {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(8, min-content);
  grid-template-rows: 100px repeat(2, min-content) 100px;
  grid-template-areas:
    'header header header header header header header header'
    '. sidebar main main main main top-widget .'
    '. sidebar main main main main bottom-widget .'
    'footer footer footer footer footer footer footer footer';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
  justify-content: space-between;
  align-content: space-between;
  align-items: start;
  justify-items: start;
}

.root__item {
  padding: 2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.title {
  color: white;
  margin: 0;
}

.widget_blue {
  background: #2f80ed;
}

.widget_red {
  background: #ff4757;
}

.header {
  grid-area: header;
  background: #c8d6e5;
}

.sidebar {
  grid-area: sidebar;
  background: #eedfcc;
}

.main {
  grid-area: main;
  background: #222f3e;
}

.widget_top {
  grid-area: top-widget;
}

.widget_bottom {
  grid-area: bottom-widget;
}

.footer {
  grid-area: footer;
  background: #c8d6e5;
}
